.photo-grid {
  justify-content: center;
  max-width: 1184px;
  padding: 0 24px;
  box-sizing: content-box;
  transition: all 0.7s ease-out;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    max-width: 720px;
    padding: 0 16px;
  }
}

@media screen and (max-width: 320px) {
  .photo-grid {
    max-width: 288px;
  }
}
