@import url(./vendor/fonts.css);
@import url(./vendor/normalize.css);

.page {
  font-family: "Inter", Arial, sans-serif;
  font-weight: normal;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  max-width: 1184px;
  min-width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: #2A2C2F;
  color: #FFFFFF;
}

.page__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*_________________Блок HEADER_________________________*/

.header {
  border: 1px solid red;
  width: 100%;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  padding: 28px 0 56px; 
  box-sizing: border-box;
}

@media screen and (max-width: 1023px) {
  .header {
    padding: 28px 0 48px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding: 16px 16px 48px;
  }
}

.header__logo {
  width: 176px;
  height: 52px;
}

@media screen and (max-width: 767px) {
  .header__logo {
    width: 142px;
    height: 42px;
  }
}

.header__lang {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 24px;
  line-height: 28px;
  position: relative;
  top: 6px;
}

@media screen and (max-width: 425px) {
  .header__lang {
    font-size: calc(18px + 6 * ((100vw - 320px) / (425 - 320)));
    line-height: 20px;
  }
}

.header__item:not(:last-child) {
  padding: 0 18px 0 0;
}

.header__lang-link {
  text-decoration: none;
  color: #FFFFFF;
  list-style: none;
  transition: all .5s ease-in-out;
}

.header__lang-link:hover {
  opacity: 0.8;
}

.header__lang-link_active {
  text-decoration: underline;
}

/*----------------CONTENT-------------------------*/

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*---------------SECTION LEAD-------------------------*/

.lead {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box; 
}

.lead__title {
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  max-width: 720px;
  min-width: 320px;
  margin: 0 0 32px;
}

@media screen and (max-width: 767px) {
  .lead__title {
    font-size: calc(40px + 50 * ((100vw - 320px) / (767 - 320)));
    line-height: calc(44px + 56 * ((100vw - 320px) / (767 - 320)));
    margin: 0 0 16px;
  }
}

@media screen and (max-width: 320px) {
  .lead__title {
    font-size: 40px;
    line-height: 44px;
  }
}

.lead__subtitle {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  max-width: 640px;
  min-width: 320px; 
  margin: 0 0 64px;
}

@media screen and (max-width: 767px) {
  .lead__subtitle {
    font-size: calc(16px + 14 * ((100vw - 320px) / (767 - 320)));
    line-height: calc(20px + 16 * ((100vw - 320px) / (767 - 320)));
  }
}

@media screen and (max-width: 320px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
  }
}

.lead__route {
  max-width: 984px;
  min-width: 928px;
  margin: 0 100px;
  box-sizing: border-box;
}

@media screen and (max-width: 1280px) {
  .lead__route {
    max-width: 984px;
    min-width: 928px;
  }
}

@media screen and (max-width: 1024px) {
  .lead__route {
    max-width: 928px;
    min-width: 768px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 767px) {
  .lead__route {
    max-width: 767px;
    min-width: 320px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 320px) {
  .lead__route {
    max-width: 320px;
    min-width: 320px;
    margin: 0 auto;
  }
}

.lead__image {
  width: 100%;
}

.lead__caption {
  max-width: 100%;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  text-align: left;
  margin: 8px 0 0;
  box-sizing: border-box;
}

/*---------------SECTION INTRO-------------------------*/

.intro {
  border: 1px solid red;
  width: 100%;
  margin: 0;
  padding: 92px 0;
  max-width: 984px;
}

.intro__title {
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  margin: 0 0 40px;
  max-width: 690px;
}

.intro__text {
  font-family: 16px;
  line-height: 163%;
  margin: 0 0 33px;
  max-width: 690px;
}

.intro__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.intro__list-item {
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
}

.intro__list-number {
  font-weight: normal;
}

/*все что ниже исправить*/

.photo-grid {
  justify-content: center;
  max-width: 1184px;
  box-sizing: border-box;
}

@media screen and (max-width: 1279px) {
  .photo-grid {
    max-width: 928px;
  }
}

.photo-grid__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}


@media screen and (max-width: 1279px) {
  .photo-grid__list {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 14px;
  }
}

@media screen and (max-width: 1023px) {
  .photo-grid__list {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 14px;
  }
} 

.photo-grid__image {
  width: 100%;
}

