.intro__text {
  font-size: 16px;
  line-height: 163%;
  margin: 0 0 33px;
  max-width: 690px;
  min-width: 288px;
  transition: all 0.7s ease-out;
}

@media screen and (max-width: 768px) {
  .intro__text {
    max-width: 720px;
  }
}