.intro {
  width: 100%;
  margin: 0;
  padding: 92px 0;
  max-width: 984px;
  min-width: 288px;
  box-sizing: border-box;
  transition: all 0.7s ease-out;
}

@media (max-width: 1024px) {
  .intro {
    max-width: 928px;
  }
}

@media (max-width: 1023px) {
  .intro {
    max-width: 984px;
    padding: 88px 24px;
  }
}

@media (max-width: 767px) {
  .intro {
    padding: 64px 16px;
  }
}
